.explorer{
    
    background-color: #F6F6F6;
    height: 300px;
    padding-top: 20px;
& h2{
    font-size: 24px;
    margin-top: 0px;
    text-align: center;
}

& p{
    font-size: 18px;
    text-align: center;
    
}


}


