.explorer{
    text-align: center;
    background-color: #F6F6F6;
    height: 300px;
    padding-top: 20px;
& h2{
    font-size: 24px;
    margin-top: 0px;
}

& p{
    font-size: 18px;
    
}

& button {
    font-weight: bolder;
    border-radius: 25px;
    padding: 20px 30px;
    margin-top: 25px;
    color: white;
    border: none;
   
    background-image: linear-gradient(#FF79DA, #9356DC) ;
    transition: 0.250ms;

}

& button:hover{
    box-shadow: 2px 2px 12px 4px  grey;
}
}


